<% content_for :pagetitle do %>Producteurs<% end %>
<% content_for :pagename do %>Nos producteurs<% end %>
<% content_for :meta_description do %>Venez parcourir les différents producteurs bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>
<% content_for :twitter_description do %>Venez parcourir les différents producteurs bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>
<% content_for :og_description do %>Venez parcourir les différents producteurs bordelais référencés par le Petit Panier Bordelais pour découvrir les produits de la région.<% end %>

<div id="producteurs-index">
  <h3>Nos derniers apiculteurs</h3>

  <%= link_to apiculteurs_path do %>
  <%= image_tag('apiculteurs.jpg', class: "prod-index-img") %>
  <% end %>

  <h3>Nos derniers éleveurs</h3>

  <%= link_to eleveurs_path do %>
  <%= image_tag('eleveurs.jpg', class: "prod-index-img") %>
  <% end %>

  <h3>Nos derniers horticulteurs</h3>

  <%= link_to horticulteurs_path do %>
  <%= image_tag('horticulteurs.jpg', class: "prod-index-img") %>
  <% end %>

  <h3>Nos derniers maraîchers</h3>

  <%= link_to maraichers_path do %>
  <%= image_tag('maraichers.jpg', class: "prod-index-img") %>
  <% end %>

  <h3>Nos derniers viticulteurs</h3>

  <%= link_to viticulteurs_path do %>
  <%= image_tag('viticulteurs.jpg', class: "prod-index-img") %>
  <% end %>
</div>
