<% content_for :pagetitle do %><%= @service.name %><% end %>
<% content_for :pagename do %><%= @service.name %><% end %>
<div id="serv-show">

  <h2>Adresse</h2>
  <p><%= @service.address %></p>

  <% if @service.image %>
    <h2>Image</h2>
    <% image_tag @service.image %>
  <%end%>

  <% if @service.content %>
    <h2>Description</h2>
    <p><%= @service.content %></p>
  <%end%>

  <br>

  <%= link_to "Retour", "#", onclick: "history.back()" %>

</div>
