<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :pagetitle %> - LPPB</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= yield :pagename %></h1>

    <p><%= link_to "Accueil", root_path %> | <%= link_to "Producteurs", productors_path %> | <%= link_to "Services", services_path %> | <%= link_to "À propos", about_path %> | <%= link_to "Contact", contact_path %></p>

    <%= yield %>
  </body>
</html>
