<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :pagetitle %> - LPPB</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="description" content="<%= yield :meta_description  %>">
    <meta name="keywords" content="petit, panier, bordelais, bordeaux, sain, local, fruits, legumes, manger, marche, restaurant, producteur, produit, frais, ecolo, agriculteur, itineraire, balade, decouverte, bio">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@LePetitPanierB">
    <meta name="twitter:title" content="Le Petit Panier Bordelais">
    <meta name="twitter:description" content="<%= yield :twitter_description %>">
    <meta name="twitter:image" content="http://lepetitpanierbordelais.fr/images/logo.png">
    <meta name="twitter:image:alt" content="Le Petit Panier Bordelais, les producteurs locaux bordelais.">
    <meta property="og:title" content="Le Petit Panier Bordelais">
    <meta property="og:type" content="producteur">
    <meta property="og:url" content="https://lepetitpanierbordelais.fr/">
    <meta property="og:image" content="http://lepetitpanierbordelais.fr/images/logo.png">
    <meta property="og:description" content="<%= yield :og_description %>">
    <meta property="og:email" content="contact@lepetitpanierbordelais.fr">
    <link rel="canonical" href="http://lepetitpanierbordelais.fr<%= request.original_fullpath %>" />
    <link rel="publisher" href="https://plus.google.com/u/1/108017467012918746077" />


    <!-- <link rel="shortcut icon" href="images/logo.png"> -->
  </head>

  <body>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="header-burger display-none">
      <p>Menu</p>
    </div>
    <div class="header-burger-content display-none">
      <%= link_to "Accueil", root_path, class:'menu-item', id:"accueil-item" %>
      <%= link_to "Services", services_path, class:'menu-item', id:"services-item" %>
      <%= link_to "Producteurs", productors_path, class:'menu-item', id:"producteurs-item" %>
      <%= link_to "À propos", about_path, class:'menu-item', id:"about-item" %>
      <%= link_to "Contact", contact_path, class:'menu-item', id:"contact-item" %>
    </div>

    <% if @biglogo %>
      <%= link_to image_tag('logo.png'), root_path, alt:"logo", id:"logo" %>
      <p id="baseline">La qualité saine et locale, pour le plaisir des plus raffinés.</p>
    <% else %>
      <%= link_to image_tag('logo.png'), root_path, alt:"logo", id:"logo2" %>
    <%end%>

    <div class="body-content">
      <div id="header">
        <%= link_to "Accueil", root_path, class:'menu-item', id:"accueil-item" %> <span>|</span> <!-- menu-item's class is to be able to make an active's class switch on click, cf.js -->
        <%= link_to "Services", services_path, class:'menu-item', id:"services-item" %> <span>|</span>
        <%= link_to "Producteurs", productors_path, class:'menu-item', id:"producteurs-item" %> <span>|</span>
        <%= link_to "À propos", about_path, class:'menu-item', id:"about-item" %><span>|</span>
        <%= link_to "Contact", contact_path, class:'menu-item', id:"contact-item" %>
      </div>

      <h1><%= yield :pagename %></h1>

      <%= yield %>

    </div>
    <footer>

    </footer>
    <script>menuLoaded();</script>
    <script>initCarousel();</script>
    <script>burger();</script>

  </body>
</html>
